body {
  text-align: center
}

input  {
  display: block;
  margin: 5px auto 5px auto;
  padding: 5px;
  width: 258px
}

select {
  display: block;
  margin: 5px auto 5px auto;
  padding: 5px;
  background-color: white;
  border: .5px solid rgba(0, 0, 0, .4);
  height: 30px
}

.error-message {
  color: red
}

button {
  display: block;
  margin: 5px auto 5px auto;
  padding: 5px;
  width: 258px;
  border:.5px solid rgba(0, 0, 0, .4);
  background-color: black;
  color: white
}

button:hover {
  background-color: white;
  color: black
}

